@charset "utf-8";

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/icomoon.woff') format('woff'),
		 url('../fonts/icomoon.ttf')  format('truetype'),
		 url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url('../fonts/Geometria-Medium.eot');
    src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Medium.woff2') format('woff2'),
         url('../fonts/Geometria-Medium.woff') format('woff'),
         url('../fonts/Geometria-Medium.ttf') format('truetype'),
         url('../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Regular';
    src: url('../fonts/Geometria-Regular.eot');
    src: url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Regular.woff2') format('woff2'),
         url('../fonts/Geometria-Regular.woff') format('woff'),
         url('../fonts/Geometria-Regular.ttf') format('truetype'),
         url('../fonts/Geometria-Regular.svg#Geometria-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Merel-Medium';
    src: url('../fonts/Merel-Medium.eot');
	src: url('../fonts/Merel-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merel-Medium.woff2') format('woff2'),
		url('../fonts/Merel-Medium.woff') format('woff'),
		url('../fonts/Merel-Medium.ttf') format('truetype'),
		url('../fonts/Merel-Medium.svg#Merel-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

@font-face {
    font-family:'Merel-Regular';
    src: url('../fonts/Merel-Regular.eot');
	src: url('../fonts/Merel-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merel-Regular.woff2') format('woff2'),
		url('../fonts/Merel-Regular.woff') format('woff'),
		url('../fonts/Merel-Regular.ttf') format('truetype'),
		url('../fonts/Merel-Regular.svg#Merel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

@font-face {
    font-family:'Merel-Bold';
    src: url('../fonts/Merel-Bold.eot');
	src: url('../fonts/Merel-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merel-Bold.woff2') format('woff2'),
		url('../fonts/Merel-Bold.woff') format('woff'),
		url('../fonts/Merel-Bold.ttf') format('truetype'),
		url('../fonts/Merel-Bold.svg#Merel-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

html,
body {
	position: relative;
}
body {
	min-width: 1200px;
	text-align: center;
	font-family: 'PTSans-Bold';
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #472275;
}
p{
	font-family: "Merel-Regular";
	color: #ffffff;
}
a{
    font-family: "Geometria-Medium";
	text-decoration: none;
	color: #ffffff;
}
.b-text{
    padding-bottom: 80px;
    padding-top: 60px;
}
h2.title{
	font-family: "Merel-Bold";
	font-size: 56px;
	color: #ffffff;
}
.header-title h2{
	line-height: 56px;
    padding-bottom: 22px;
}
.header-title div{
    display: table-cell;
    vertical-align: middle;
}
.header-title p{
	line-height: 36px;
	font-size: 26px;
}	
.header-contacts a{
	text-align: right;
    font-size: 18px;
	text-decoration: none;
	color: #ffffff;
}
.underline{
	text-decoration: underline;
}


.header-contacts a:last-child{
	font-size: 16px;
}
.app-button:hover{
	background-color: rgba(254, 206, 11, 0.5);
}
.about-button:hover{
	background-color: #f5c70b;
}
.about-button:active{
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
}
.underline:hover{
	text-decoration: none;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
#panel-page{
	height: 100%;
}
.b-menu{
	display: inline-block;
	vertical-align: top;
}
.b-menu li a {
    font-size: 16px;
}
.b-logo{
    display: inline-block;
    float: left;
    width: 250px;
    height: 57px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('../i/logo.png');
    background-size: cover;
}
.header{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 750px;
    background-image: url(../i/header.jpg);
    background-position: 50%;
    background-size: cover;
}
.b-block-menu{
    position: absolute;
	padding-top: 25px;
	width: 100%;
}
ul.top-menu{
	display: inline-block;
	margin-top: 20px;
    margin-right: 17px;
}
.top-menu li{
	float: left;
}
.top-menu li:not(:first-child){
	padding-left:58px;
}
.header-contacts{
	margin-top: -4px;
	display: inline-block;
	vertical-align: top;
	float: right;
}
.app-button{
	display: block;
	padding: 7px 17px 7px 17px;
    border: 1px solid #fece0b;
    border-radius: 3px;
    margin-top: 16px;
}
.header-title{
	display: table;
}
div.b-block.header-title{
    height: 72%;
    top: 100px;
}
.header-title .b-block{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.b-mouse{
	text-align: center;
	width: 22px;
	position: absolute;
	left: calc(50% - 11px);
	bottom: 35px;
	z-index: 10;
}
.icon-mouse:before{
    content: '\e904';
    display: block;
    margin-bottom: 4px;
    font-size: 37px;
    color: #FFF;
}

.icon-mouse-arrow:before{
    content: '\e907';
    display: block;
    font-size: 8px;
    color: #FFF;
}
@-webkit-keyframes mouse-first-move {
	0% {
		-webkit-transform: translateY(0);
	}
	50%{
		-webkit-transform: translateY(6px);
	}
	100%{
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes mouse-first-move {
	0% {
		-moz-transform: translateY(0);
	}
	50%{
		-moz-transform: translateY(6px);
	}
	100%{
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes mouse-first-move {
	0% {
		-ms-transform: translateY(0);
	}
	50%{
		-ms-transform: translateY(6px);
	}
	100%{
		-ms-transform: translateY(0);
	}
}

@-o-keyframes mouse-first-move {
	0% {
		-o-transform: translateY(0);
	}
	50%{
		-o-transform: translateY(6px);
	}
	100%{
		-o-transform: translateY(0);
	}
}

@keyframes mouse-first-move {
	0% {
		transform: translateY(0);
	}
	50%{
		transform: translateY(6px);
	}
	100%{
		transform: translateY(0);
	}
}

@-webkit-keyframes mouse-second-move {
	0% {
		-webkit-transform: translateY(0);
	}
	50%{
		-webkit-transform: translateY(12px);
	}
	100%{
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes mouse-second-move {
	0% {
		-moz-transform: translateY(0);
	}
	50%{
		-moz-transform: translateY(12px);
	}
	100%{
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes mouse-second-move {
	0% {
		-ms-transform: translateY(0);
	}
	50%{
		-ms-transform: translateY(12px);
	}
	100%{
		-ms-transform: translateY(0);
	}
}

@-o-keyframes mouse-second-move {
	0% {
		-o-transform: translateY(0);
	}
	50%{
		-o-transform: translateY(12px);
	}
	100%{
		-o-transform: translateY(0);
	}
}

@keyframes mouse-second-move {
	0% {
		transform: translateY(0);
	}
	50%{
		transform: translateY(12px);
	}
	100%{
		transform: translateY(0);
	}
}

.b-mouse .icon-mouse-arrow:first-child{
	animation: mouse-first-move 1s ease-in-out infinite;
	-moz-animation: mouse-first-move 1s ease-in-out infinite;
	-webkit-animation: mouse-first-move 1s ease-in-out infinite;
 	-o-animation: mouse-first-move 1s ease-in-out infinite;
}

.b-mouse .icon-mouse-arrow:last-child{
	animation: mouse-second-move 1s ease-in-out infinite;
	-moz-animation: mouse-second-move 1s ease-in-out infinite;
	-webkit-animation: mouse-second-move 1s ease-in-out infinite;
 	-o-animation: mouse-second-move 1s ease-in-out infinite;
}

.about .title{
	font-family: "Merel-Bold";
	color: #554e4e;
	font-size: 48px;
	line-height:60px;
}
.about .b-text{
    padding-bottom: 45px;
}
.about p{
	color: #554e4e;
	font-size: 20px;
    padding-top: 35px;
    line-height: 32px;
}
.about h3{
    padding-top: 4px;
	line-height: 38px;
	color: #554e4e;
	font-size: 28px;
	font-family:"Merel-Medium";
}
.about-left{
	padding-top: 60px;
    padding-bottom: 87px;
	display: inline-block;
    width: 55%;
	float: left;
	text-align: left;
}
.about-right{
	padding-top: 85px;
    padding-bottom: 63px;
	background: url(../i/background-gray.png);
	background-size: 500px;
	display: inline-block;
	width: 41%;
    margin-left: 44px;
}
.about-button{
	display: inline-block;
	background-color: #fece0b;
	margin-top: 46px;
	color: #554e4e;
	font-size: 18px;
	padding: 21px 47px 20px 48px;
	border-radius: 3px;
	box-shadow: 0 15px 30px rgba(0,0,0,0.15);

    -webkit-transition: transform 100ms ease-out;
    -moz-transition: transform 100ms ease-out;
    -ms-transition: transform 100ms ease-out;
    -o-transition: transform 100ms ease-out;
    transition: transform 100ms ease-out;
}
.b-icons{
	display: block;
	vertical-align: middle;
	text-align: left;
}
.b-about-icon img{
	padding-right: 32px;
}
.b-about-icon p{
    padding-top: 14px;
	font-size: 24px;
	line-height: 32px;
}
.b-table-cell{
	display: table-cell;
	vertical-align: middle;
}
.b-about-icon h2.title{
	line-height: 38px;
    margin-top: -7px;
}
.b-about-icon {
	display: table;
	padding-left: 48px;
	padding-bottom: 48px;
}
.b-about-icon div{
	vertical-align: middle;
    display: table-cell;
}
.services{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background-image: url(../i/services.jpg);
    background-position: 50%;
    background-size: cover;
}
.services .b-text{
    padding-bottom: 91px;
}
.services h2.title{
	font-family: "Merel-Bold";
    font-size: 48px;
    line-height: 60px;
}
.b-services{
    display: table;
	padding-top: 53px;
}
.b-service-item{
	background-color: rgba(244,244,244, 0.32);
    vertical-align: top;
    display: inline-block;
	border-radius: 3px;
	width: calc((100% - 48px)/3);
}
.b-service-item:not(:last-child){
	margin-right: 24px;
}
.b-service-item-top{
	display: block;
	border-radius: 3px 3px 0 0;
}
.b-service-item-top img{
	padding-top: 38px;
}
.b-service-item-top p{
	font-family: "Merel-Medium";
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	line-height: 26px;
    padding-top: 15px;
	padding-bottom: 28px;
}
.b-service-item-bottom{
	background-color: rgba(0,0,0, 0.64);
	border-radius: 0 0 3px 3px;
	
}
.b-service-item-bottom p{
	font-weight: 400;
	font-size: 18px;
	color: #ffffff;
	text-align: left;
	line-height: 28px;
    padding: 20px 24px 20px 20px;
}
.cooperation h2.title{
	color: #554e4e;
	line-height: 60px;
	font-size: 48px;
    padding-bottom: 46px;
}
.cooperation p{
	color: #554e4e;
	font-size: 20px;
	line-height: 32px;
    padding-bottom: 32px;
}
.cooperation .about-button{
    margin-top: 17px;
    padding: 21px 63px 20px 64px;
}
.map{
	width: 100%;
	height: 600px;
}
.footer h2.title{
	padding-bottom: 16px;
	text-align: left;
	font-size: 36px;
	color: #554e4e; 
}
.footer .b-text{
    padding-top: 68px;
}
.footer-left-column{
	width: 49%;
	display: inline-block;
	float: left;
}
.input-top{
	font-size: 0;
}
.input-top .input-string{
	display: inline-block;
    width: calc((100% - 24px)/2);
}
.form input,textarea{
    width: 100%;
	font-size: 20px;
	color: #554e4e;;
	padding: 0 24px;
	border-radius: 3px;
    box-sizing: border-box;
 	border: solid 1px #E5E5E5; 
}

.input-top .input-string:not(:first-child){
	margin-left: 24px;
}
.input-string input{
	font-family: 'Merel-Regular';
    margin-top: 4px;
    padding: 11px 0 15px 24px;
    display: block;
}
.input-string textarea{
	font-family: 'Merel-Regular';
	font-size: 20px;
    margin-top: 4px;
    padding: 11px 0 15px 24px;
    display: block;
    width: 100%;
    height: 93px;
    resize: none;
}

.input-string input::-webkit-input-placeholder {color:#a9a9a9; opacity:0.4;}
.input-string input::-moz-placeholder          {color:#a9a9a9; opacity:0.4;}
.input-string input:-moz-placeholder           {color:#a9a9a9; opacity:0.4;}
.input-string input:-ms-input-placeholder      {color:#a9a9a9; opacity:0.4;}

.input-string textarea::-webkit-input-placeholder {color:#a9a9a9; opacity:0.4;}
.input-string textarea::-moz-placeholder          {color:#a9a9a9; opacity:0.4;}
.input-string textarea:-moz-placeholder           {color:#a9a9a9; opacity:0.4;}
.input-string textarea:-ms-input-placeholder      {color:#a9a9a9; opacity:0.4;}

.input-bottom .input-string:last-child input{
    padding: 11px 0 58px 24px;
}
.input-bottom .input-string{
	margin-top: 16px;
}
.input-string span{
	font-family: "Merel-Medium";
	line-height: 32px;
	font-size: 20px;
	color: #554e4e;
}
.input-string{
	text-align: left;
	border-radius: 3px;
}
.footer .about-button{
	font-size: 16px;
	position: relative;
    box-shadow: none;
    float: right;
	margin-top: 0px;
	padding: 18px 83px 16px 24px;
}
.footer .footer-left-column a.about-button:after{
    text-decoration: none;
    position: absolute;
    content: url(../i/arrow-right.svg);
    right: 22px;
    top: 19px;
}
.footer .footer-right-column a.about-button:after{
    text-decoration: none;
    position: absolute;
    content: url(../i/arrow-down.png);
    right: 20px;
}

.personal-info{
    font-size: 14px;
    color: #554e4e;
    opacity: 0.4;
    float: left;
    text-align: left;
}
.under-form{
    margin-top: 32px;
}
input[name="MAIL"]{
	display: none;
}
.footer .footer-right-column p{
	color: #554e4e;
	line-height: 30px;
	font-weight: 400;
	font-size: 20px;
}
.footer-right-column{
    width: 44%;
    text-align: left;
    float: right;
}
.footer-right-column .about-button{
	margin-top: 32px;
	margin-bottom: 48px;
	float: none;
	padding: 18px 64px 16px 24px;
}
.footer-line{
	border:0.5px solid #979797;
	opacity: 0.3;
}
.footer-info{
	position: relative;
	padding-right: 130px;
	float: left;
	color: #554e4e;
	line-height: 32px;
	font-size: 20px;
	padding-top: 29px;
	padding-bottom:32px;
}
.left{
	float: left;
}
.right{
	text-align: right;
}
.footer-info a{
    display: inline-block;
    position: absolute;
    margin-left: 11px;
    opacity: 1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../i/redder.png);
    width: 120px;
    height: 21px;
    font-size: 0px;
    margin-top: 7px;
}
.b-thanks.b-popup h3{
	padding-bottom: 16px;
    font-size: 36px;
    font-family: 'Merel-Bold';
    color: #554e4e;
}
.b-thanks.b-popup h4{
	font-size: 20px;
    color: #554e4e;
    font-family: 'Merel-Regular';
}
.b-orange-butt{
    font-family: 'Merel-Medium';
	background-color: #fece0b;
    margin-top: 36px;
	color: #554e4e;
	font-size: 18px;
    padding: 14px 64px 18px 64px;
	border:0px;
	border-radius: 3px;
}
.b-orange-butt:hover{
	background-color: #f5c70b;
} 


.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.white{
	color: #FFF;
}
.yellow{
    font-family: Merel-Regular;
	color: #fece0b;
}
/*.b{
	position: relative;
}*/
/*-----------Popup-----------*/

.b-popup{
	width: calc(100% - 48px);
	max-width: 500px;
    padding: 32px 44px 44px;
	border-radius: 3px;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

	.b-popup h2.b-title{
		font-family: 'Merel-Bold';
		font-size: 36px;
		line-height: 44px;
		color: #554e4e;
		margin-bottom: 16px;
	}

	.b-popup h4{
		font-family: 'Merel-Regular';
		font-size: 16px;
		line-height: 26px;
		color: #554e4e;
	}

	.b-popup form{
		margin: 16px 0;
	}

		.b-popup form .wrap-input{
			float: left;
			width: calc(100%/2 - 12px);
			margin-right: 24px;
		}

		.b-popup form .wrap-input:nth-child(2n){
			margin-right: 0;
		}

			.b-popup form .wrap-input h4{
				margin-bottom: 4px;
			}

			.b-popup form .wrap-input input{
				width: 100%;
				padding: 12px 24px 16px;
				border: 1px solid #E5E5E5;
				border-radius: 3px;
				background-color: transparent;
				color: #554e4e;
				font-family: 'Merel-Regular';
				font-size: 16px;
			}
			.personal-info a{
				color: #554e4e;
			    font-size: 14px;
  				font-family: Merel-regular;
			}


	.b-popup .about-button{
		position: relative;
		float: right;
		width: calc(50% - 12px);
		min-width: 180px;
		padding: 16px 24px 14px;
		margin-top: 32px;
	}
	.b-popup .about-button:after{
	    text-decoration: none;
	    position: absolute;
	    content: url(../i/arrow-right.svg);
	    right: 22px;
	    top: 17px;
	}


.fancybox-close-small:active:after, .fancybox-close-small:focus:after {
	outline: none;
}
.b-block{
	position: relative;
	width: 1152px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before  {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.b-btn{

}
strong, b{
    font-weight: normal;
    font-family: Merel-Bold;
}
.b-orange-btn{

}
	.b-orange-btn:hover{
		
	}
.b-1{
	
}


@media (-webkit-min-device-pixel-ratio: 1.5) {
	.footer-info a{
		background-image: url(../i/redder@2x.png);
	}
	.b-logo{
		background-image: url(../i/logo@2x.png);
	}
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}